@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
*,*:after,*:before {box-sizing: border-box; }
body{width:100%; 
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration:none;
    color:#000; 
}
#pcmenu {
    display: block;
    width: 100%; 
    margin: 0 auto; 
    height: 93px;
    /* background: transparent; */
    background: none;
    border-bottom: 1px solid #ffffff58;
    position: absolute;
    z-index: 11;
}
#mmenu {
    width: 70%; 
    position: relative; 
    margin: 0 auto; 
    background: #fff; 
    z-index: 10;
    top: 30%;
}
#mmenu h1 {
    position: absolute; 
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
}
#mmenu h1 a{
    color: #fff;
}
.munhak{
    display: block;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}
.navi {
    width: 38%; 
    margin: 0 auto; 
    height: 45px; 
    position: absolute; 
    left: 25%;
    top: 20px;
    display: flex;
}
.navi > li {
    width: 18%; 
    position: relative;
}
.navi > li > a {
    display: block; 
    line-height: 40px; 
    font-weight: normal;
    font-size: 17px; 
    text-align: center;
    color: #fff;
}
.color a:after {
    content: ""; 
    height: 2px; 
    background: #ffffff;
    position: absolute; 
    bottom: 0; 
    left: 32px; 
    right: 100%;
    transition: all 0.35s cubic-bezier(0.86,0,0.07,1);
}            
.color a:hover::after {
    left: 32px; 
    right: 32px;
}
.navi > li:hover .sub1 {
    display: block; 
    transition: all 6s;
    display: flex;
}
.sub1 li a::after {
    display: none;
}
.sub1 {
    position: absolute; 
    top: 40px; 
    display: none; 
    background: transparent;
    width: 800px; 
    height: 50px;
    z-index: 9999;
}
.sub1 li{
    margin-right: 20px;
}
.sub1 li a{
    width: 100%;
    height: 40px; 
    line-height: 40px; 
    text-decoration: none;
    color: #ffffff; 
    text-align: center; 
    transition: all .5s;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: normal;
}
.sub1 li a:hover {
    color: #000FA0;
}
.login {
    position: absolute;
    right: -98%;
}
.login img{
    width: 85%;
    margin-top: 3px;
}
.form{
    position: absolute;
    z-index:99; 
    right: -92%;
    top: -30%;
    cursor:pointer;
}
.form_search_input{
    background: transparent;
    margin-right:0.5rem; 
    width:0; 
    height:1.3rem; 
    border:none; 
    outline:none; 
    transition:width 0.5s;
}
.search_input_open{
    width:250px; 
    outline:none; 
    border:1px solid rgba(216, 224, 236,0.7); 
    height:1.3rem; 
    border-radius:40px; 
    background:#fff; 
    opacity:0.8
}
.form_search_submit{
    display:inline-block; 
    width:35px; 
    height:50px; 
    line-height:50px;
}
.form_search_submit img{
    width:22px;  
    vertical-align:middle;
}

/* swiper 부분 */
.swiper {
    width: 100%;
    height: 800px;
    position: relative;
}

/* slide1 부분 */
.swiper-slide1 {
    background: linear-gradient(to right, #5C3086 0%, #F4E491 100%);
}
.swiper-slide {
    width: 100%;
    position: relative;
}
.text1{
    position: absolute;
    width: 30%;
    left: 21%;
    top: 35%;
    color: #fff;
}
.text1 h1{
    font-size: 30px;
    font-weight: 590;
}
.text1 h2{
    margin-top: 45px;
    font-size: 18px;
    font-weight: normal;
}
.book_img{
    position: relative;
    right: -62%;
    top: 11.6%;
}
.book1{
    position: absolute;
    top: 20%;
    right: 93%;
    width: 12%;
}
.circle{
    right: 15%;
}

/* slide2 부분 */
.swiper-slide2 {
    background: linear-gradient(to right, #EDDD01 0%, #9BD1E9 100%);
}
/* slide3 부분 */
.swiper-slide3 {
    background: linear-gradient(to right, #BD402B 0%, #F3C5C5 100%);
}
/* slide4 부분 */
.swiper-slide4 {
    background: linear-gradient(to right, #4B280A 0%, #DFCA95 100%);
}
.book4{
    position: absolute;
    top: 20%;
    right: 92%;
    width: 14%;
}
/* slide5 부분 */
.swiper-slide5 {
    background: linear-gradient(to right, #0B1824 0%, #BEBEBE 100%);
}
/* slide pagination  부분 */
.swiper-pagination{
    color: #fff;
    margin-bottom: 30px;
}
/* banner 부분 */
.banner_wrapper{
    width: 100%;
    height: 155px;
    display: flex;
}
.banner_1{
    position: relative;
    background-color: #F6F6F6;
    width: 33.33%;
    height: 155px;
    top: -20px;
}
.t_box{
    position: absolute;
    top: 19%;
    left: 38%;
}
.t_box li{
    line-height: 23px;
}
.t_box li:nth-child(1){
    font-size: 1rem;
}
.t_box li:nth-child(2){
    font-size: 0.8rem;
}
/* btn 부분 */
.btn {
    display: block; 
    width: 115px; 
    height: 32px;
    border: 1px solid #000; 
    text-decoration: none;  
    text-align: center; 
    margin-top: 20px;
    position: relative;
    transition: all 0.5s;
    z-index: 99;
}
.btn a{
    font-size: 13px;
    line-height: 30px;
    color: #000; 
}
.btn a:hover {
    color: #fff;
}
.btn::before {
    content: ""; 
    position: absolute; 
    left: 0;
    height: 100%; 
    width: 0;/*width:0 값이 처음에는 안보였다가 a:hover::before {width: 100%;} 수치를 줘서 마우스 가져대면 100% 보여진다는 뜻*/
    background: #000FA0;
    transition: all 0.5s; 
    transform-origin: left;
    z-index: -1; /*z-index는 겹치는 속성이 있음, 0값을줘도 뒤로 가지지만 -값을 줘도 뒤로 빠짐 그래서 글자가 앞으로 올 수 있음*/
}
.btn:hover::before {width: 100%;}
 /* width 0%에서 마우스 가져대면 파랑색으로 변하면서 width 100% 채워줌 */

/* new book 부분 */
/* 타겟박스 */
.tpg{
    height: calc(100vh + 2200px);
    /* 타겟 박스는 보이는 화면 맨윗줄부터
       시작해서 아래로 마지막 박스 끝라인까지
       총 이동거리는 3000px이다 */
} 
 /*가로이동박스*/
.slidePg{
    position: sticky;
    top: 0;
    left: 0;
    height: 100포;
    background-color:  #EFF1F8;
    padding: 150px 120px;
}
.slidePg h1{
    font-size: 28px;
    font-weight: normal;
    color: #959595;
}
.slidePg h1 span{
    color: #000FA0;
    font-weight: bold;
}
/*실제로 가로이동할 ul박스*/
.slidePg ul{
    position: relative;
    left: 0;
    display: flex;
    width: calc(100vh + 2200px);
    /*가로크기는 타겟박스가 이동하는 크기인
      3000px에 맡도록 100vh에 더하여 잡아준다
      이유는 JSdml getBoundingClientRect().top 값의
      수치와 정확히 일치 시키기 위함*/
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.4s ease-out;
}
.k-container {
    position: relative; 
    width: 342px; 
    height: 507px; 
    margin: 50px 150px 50px 0px;
    box-shadow: 3px 4px 10px  #bab9b9; 
    border-radius: 40px;

}
.overlay {
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0); 
    transition: background 0.5s ease;
    border-radius: 35px;
}
.k-container:hover .overlay {
    display: block; 
    background: rgba(0, 0, 0, 0.516);
}         
.k-container img {
    position: absolute; 
    width: 342px; 
    height: 507px; 
    left: 0;
}
.t_book_box {
    position: relative;
    left: 0;
    top: 180px; 
    width: 342px;
    opacity: 0; 
    transition: opacity .35s ease;
    transition: top.5s ease;
    text-align: center;
}
.t_book_box h1{
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 25px;
}
.t_book_box p{
    color: #fff;
    margin-top: 25px;
    font-size: 0.9rem;
}
.t_book_box ul  {
    display: inline-block;
    color: #fff; 
}   
.t_book_box ul:nth-child(2){
    width: 15%;
    text-align: left;
}
.t_book_box ul:nth-child(3){
    width: 9%;
    text-align: center;
}
.t_book_box ul:nth-child(4){
    width: 28%;
    text-align: left;
}
.k-container:hover .t_book_box {
    opacity: 1;
    top: 150px;
}

/* 맞춤별 도서추천 부분 */
#ppr{
    position: relative;
    margin: 150px 0px 100px 0px;
}
#ppr h1{
    width:35.5%; 
    font-size: 28px;
    font-weight: normal;
    color: #959595;
    display:flex;  
    justify-content:center;
}
#ppr h1 span{
    color: #000FA0;
    font-weight: bold;
}
.pbtn{
    width:37%; 
    height: 100px; 
    display:flex;  
    justify-content:center;

}
.pbtn li{
    margin: 30px 0px 20px 0px;
}
.pbtn li a{
    font-size:1.3rem;
    text-align:center;
    padding:0.5rem 0rem;
}
.pbtn li.tap1 a{
    color:#000FA0; 
    border-bottom: 2px solid;
    margin-right:1.5rem;
    font-size: 1rem;
    font-weight: bold;
}
.pbtn li.tap2 a{
    color:#000; 
    background:none;
    margin-right:1.5rem;
    font-size: 1rem;
}
.pbtn li.tap3 a{
    color:#000; 
    background:none;
    font-size: 1rem;
}
.ppanel{
    width: 90%; 
    margin:2rem auto;
    height: 650px;
    top: 20%;
}
.ppanel .one{
    width: 100%;
    height: 650px;
    overflow:hidden; 
    text-align:center;
    display: flex;
    justify-content: space-evenly;

}
.box-hover{
    width:380px; 
    height: 575px;
    background-color: #EFF1F8;
    border-radius: 50px 50px 0px 0px;
    margin-top: 15px;
    box-shadow: 2px 3px 8px  #d6d6d6; 
    transition: all 500ms ease-in-out;
}

.box-hover:hover{
    margin-top: 1px;
}
.t_book_box1{
    padding-top: 45px;
    font-size: 0.8rem;
}
.t_book_box1 ul  {
    display: inline-block;
} 
.t_book_box1 ul:nth-child(1){
    width: 13%;
    text-align: left;
}
.t_book_box1 ul:nth-child(2){
    width: 10%;
    text-align: center;
}
.t_book_box1 ul:nth-child(3){
    width: 27%;
    text-align: left;
}  
.ppanel .one li img{width:100%;}

/* btn1 부분 */
.btn1 {
    display: inline-block; 
    width: 120px; 
    height: 32px;
    border: 1px solid #1B2C7C; 
    text-decoration: none;  
    text-align: center; 
    position: relative;
    transition: all 0.5s;
    z-index: 99;
    transform: translateY(-100%);
    margin-left: 20px;
}
.btn1{
    font-size: 13px;
    line-height: 30px;
    color: #1B2C7C; 
}
.btn1:hover {
    color: #fff;
}
.btn1::before {
    content: ""; 
    position: absolute; 
    left: 0;
    height: 100%; 
    width: 0;
    background: #000FA0;
    transition: all 0.5s; 
    transform-origin: left;
    z-index: -1; 
}
.btn1:hover::before {width: 100%;}

/* .animated {
    animation-duration: 1s;
}
.animated.infinite {
    animation-iteration-count: infinite;
}
.fadeInLeft {
    animation-name: fadeInLeft; 
    animation-duration:1s;
}
@keyframes fadeInLeft {
0% {opacity: 0; transform: translateX(-20px);}
100% {opacity: 1; transform: translateX(0);}
} */

/* back_img 부분 */
.back_img{
    width: 100%;
    height: 250px;
    /* background-color: #EFF1F8;     */
    background-color: #F6F6F6;    
}
.back_text{
    position: relative;
    padding: 20px;
    /* border:  1px solid red; */
    width: 35%;
    left: 32%;
    top: 5%;
}
.back_text h1{
    color: #1B2C7C;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 30px;
}
.back_text ul{
    display: inline-block;
}
.back_text ul li{
    font-size: 0.9rem;
    line-height: 23px;
    font-weight: 500;
}
.fa-solid{
    position: absolute;
    font-size: 100px;
    right: 0%;
    top: 30%;
    color: #1B2C7C;
}

/* btn 부분 */
.btn_1 {
    display: block; 
    width: 150px; 
    height: 32px;
    border: 1px solid #000; 
    text-decoration: none;  
    text-align: center; 
    margin-top: 20px;
    position: relative;
    transition: all 0.5s;
    z-index: 99;
}
.btn_1 a{
    font-size: 13px;
    line-height: 30px;
    color: #000; 
    font-weight: 500;
}
.btn_1 a:hover {
    color: #fff;
}
.btn_1::before {
    content: ""; 
    position: absolute; 
    left: 0;
    height: 100%; 
    width: 0;
    background: #000FA0;
    transition: all 0.5s; 
    transform-origin: left;
    z-index: -1; 
}
.btn_1:hover::before {width: 100%;}

/* author 부분 */
.author{
    width: 100%;
    height: 800px;
    background: url(../img/author.png) no-repeat;
    background-size: cover;
    margin-top: 150px;
}
.author_box{
    position: relative;
    width: 50%;
    height: 500px;
    /* border:  1px solid red; */
    /* left: 24%; */
    top: 21%;
    text-align: center;
    transform: translateX(50%);
}
.author_box h1{
    left: 27%;
    position: absolute;
    color: #ffffff4a;
    font-size: 100px;
}
.author_box p{
    position: absolute;
    font-weight: bold;
    font-size: 35px;
    left: 40%;
    top: 10%;
    color: #fff;
}
.author_text{
    position: absolute;
    left: 34%;
    top: 30%;
    line-height: 90px;
}
.author_text li{
    color: #fff;
    font-size: 25px;
    font-weight: 100;
}

/* btn 부분 */
.btn_2 {
    display: block; 
    width: 180px; 
    height: 40px;
    border: 1px solid #ffffff; 
    text-decoration: none;  
    text-align: center; 
    margin-top: 20px;
    position: relative;
    transition: all 0.5s;
    z-index: 99;
    left: 18%;
    top: 65%;
}
.btn_2 {
    font-size: 16px;
    line-height: 36px;
    color: #ffffff; 
    font-weight: 500;
}
.btn_2:hover {
    color: #000000;
}
.btn_2::before {
    content: ""; 
    position: absolute; 
    left: 0;
    height: 100%; 
    width: 0;
    background: #ffffff85;
    transition: all 0.5s; 
    transform-origin: left;
    z-index: -1; 
}
.btn_2:hover::before {width: 100%;}

/* 상단으로 이동 탑 버튼 */
#top{
    position:fixed; 
    width: 60px;
    height: 60px;
    right:2rem; 
    bottom:4rem; 
    appearance:none; 
    border: 2px solid #c0c5ff;
    border-radius:50px;
    opacity:0.8;  
    padding:1rem 0.6rem; 
    color: #c0c5ff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); 
    cursor: pointer;
    transition: all 500ms ease-in-out;
    z-index: 9999;
}
.fa-arrow-up{
    position: absolute;
    right: 22px;
    top: 19px;
}
#top:hover{
    border: 2px solid #000FA0;
    color: #000FA0;
    transform: translate(0, -10px);
}



/* footer 부분 */
.footer_box{
    position: relative;
    width: 75%;
    height: 60px;
    border-bottom: 1px solid #5B5B5B;
    margin: 0 auto;
    margin-top: 90px;
}
.footer_box li{
    display: inline-block;
}
.footer_box li a{
    color: #5B5B5B;
}
.footer_box ul:nth-child(3){
    display: block;
}
.f_text {
    position: absolute;
    width: 35%;
    top: 28%;
    font-size: 13px;
}
.f_text li:after {
    content:"|";
    color:#5B5B5B;
    padding-left:5px;
}
.f_text li:last-child:after {content:"";}
.sns{
    position: absolute;
    right: 0;
    top: 28%;
}
.sns li{
    margin-right: 20px;
}
.sns li a i{
    font-size: 20px; 
    color: #333; 
    opacity: 0.5;
    transform: scale(1); 
    transition: all 1s;
}
.sns li a:hover i {
    opacity: 1; 
    transform: scale(1.2); /*마우스 올렸을때 선명해지면서 크기가 120% 커진다*/
} 
.footer_box2{
    width: 75%;
    position: relative;
    font-size: 13px;
    margin: 0 auto;
    color: #5B5B5B;
}
.footer_box2 ul{
    /* position: absolute; */
    height: 150px;
    margin-top: 23px;

}

/* waypoints animated 부분 */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
-webkit-animation-duration:1s;
animation-duration:1s;
}

/* 숨기는 css 시작*/

.wp1, .wp2, .wp3, .wp4, .wp5 .wp6, .wp7, .wp8, .wp9, .wp10, .wp11, .wp12, .wp13, .wp14{visibility:hidden;}
.fadeInUp, .fadeInLeft, .fadeInOut {visibility: visible;}  /*세개의 애니메이션을 불러주려고*/

/*  숨기는 css 종료*/

@keyframes fadeInLeft {
0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
    -webkit-animation-duration:1s;
animation-duration:1s;
}

@keyframes fadeInUp {
0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}

.fadeInOut {
-webkit-animation-name: fadeInOut;
animation-name: fadeInOut;
    -webkit-animation-duration:1s;
animation-duration:1s;
}

@keyframes fadeInOut {
0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

100% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}
}

@keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}

@keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}

.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
    -webkit-animation-duration:1s;
animation-duration:1s;
}

.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.delay-15s { animation-delay: 1.5s; -webkit-animation-delay: 1.5s; }

/* @keyframes shake {
0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}
}

@keyframes shake {
0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}

20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
}

.shake {
-webkit-animation-name: shake;
animation-name: shake;
    -webkit-animation-duration:1s;
animation-duration:1s;
} */
